<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
    </startup>
  <system.serviceModel>
    <bindings>
      <customBinding>
        <binding name="InformationSystemManagementBinding">
          <security authenticationMode="UserNameOverTransport" />
          <textMessageEncoding />
          <httpsTransport/>
        </binding>
      </customBinding>
    </bindings>
    <client>
      <endpoint name="InformationSystemManagementEndpoint" address="https://extapi-cbis-test.citybreak.com/InformationSystemManagement.svc"
                binding="customBinding" bindingConfiguration="InformationSystemManagementBinding" contract="Generated.IInformationSystemManagement">
      </endpoint>
    </client>
  </system.serviceModel>
</configuration>