<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <wsHttpBinding>
                <binding name="CustomBinding_IInformationSystemManagement">
                    <security mode="None" />
                </binding>
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://extapi-cbis-test.citybreak.com/InformationSystemManagement.svc"
                binding="wsHttpBinding" bindingConfiguration="CustomBinding_IInformationSystemManagement"
                contract="Generated.IInformationSystemManagement" name="CustomBinding_IInformationSystemManagement" />
        </client>
    </system.serviceModel>
</configuration>